body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    width: 1%;
    display: table-cell;
}

#calculatorLogo {
    float: left;
    width: 50px;
    height: 55px;
    filter: invert(100%);
}

#title {
    margin: 0 2px 0px;
    color: hsl(33, 100%, 50%);
    font-weight: 900;
    font-size: x-large;
}

p.tag {
    font-weight: 700;
    margin: -2px 2px 2px;
    font-size: .9em;
    color: whitesmoke;
}